.header {
	/*background-color: #ff9;*/
}
.nav {
	float: right;
	list-style: none;
}
.nav li {
	float: left;
	padding-top: .5em;
	
}
.nav li:after {
	content: " / ";
	color: #bebebe;

}
.nav li:last-child a {
	margin-right: 0;
}
.nav li:last-child:after {
	content:none;
}
.nav a {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	margin:0 1em;
}
.logo {
	font-size: 2.25em;
	font-family: 'Megrim', sans-serif;
	margin-top: 5px;
	color: #000;
}
body {
	background: #ff0 url('../images/egg_shell_copy.png');
}
.gallery1 {
	padding-top: 20px;
	float: center;
	padding: 10px;
}

.copyright {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-align: center;
	padding: 1em 0;
}
.chevron {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	padding: 1em .25em;
	color: #000;
}