.nav {
	float: right;
	list-style: none;
}
.nav li {
	float: left;
	padding-top: .8em;
	
}
.nav li:after {
	content: " / ";
	color: #cb4044;

}
.nav li:last-child a {
	margin-right: 0;
}
.nav li:last-child:after {
	content:none;
}
.nav a {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	margin:0 .5em;
	font-size: 1.05em
}
.nav a:hover {
	color: #b1b1b1;
}
.logo {
	font-size: 2.25em;
	font-family: 'Megrim', sans-serif;
	margin-top: 7px;
	color: #b1b1b1;
}
body {
	background: #fff url('../images/egg_shell.png');
}
.gallery1 {
	padding-top: 20px;
	float: center;
	padding: 10px;
}

.copyright {
	font-family: 'Open Sans', sans-serif;
	color: #b1b1b1;
	text-align: center;
	padding: 1em 0;
	font-size: .5em;

}
.chevron {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	padding: 1em .25em;
	color: #b1b1b1;
}
.chevron:hover {
	color: #cb4044;
}
.bio {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #27292b;
	padding: 1em 4em;
	font-size: 1.1em;
	/*letter-spacing: .1em;*/

}
.me {
	/*padding-left: 48em;*/
	text-align: center;
	color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
}
.contact {
	color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	text-align: center;
	color: #cb4044;
	letter-spacing: .1em;


}