.header {
	/*background-color: #ff9;*/
}
.nav {
	float: right;
	list-style: none;
}
.nav li {
	float: left;
	padding-top: .8em;
	
}
.nav li:after {
	content: " / ";
	/*color: #bebebe;*/
	color: #cb4044;

}
.nav li:last-child a {
	margin-right: 0;
}
.nav li:last-child:after {
	content:none;
}
.nav a {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	margin:0 .5em;
}
.nav a:hover {
	color: #b1b1b1;
}
.logo {
	font-size: 2.25em;
	font-family: 'Megrim', sans-serif;
	margin-top: 7px;
	color: #b1b1b1;
}
.logo:hover {
	color: #cb4044;
}
body {
	background: #ff0 url('../images/husk.png');
}
.gallery1 {
	padding-top: 20px;
	float: center;
	padding: 10px;
}

.copyright {
	font-family: 'Open Sans', sans-serif;
	color: #b1b1b1;
	text-align: center;
	padding: 1em 0;
}
.chevron {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	padding: 1em .25em;
	color: #b1b1b1;
}
.chevron:hover {
	color: #cb4044;
}